@tailwind base;
@tailwind components;
@tailwind utilities;

#range-slider {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23555' fillRule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E")
    #333;
}

#range-slider .range-slider__range {
  background: #ffbf00;
  transition: height 0.3s;
}

#range-slider .range-slider__thumb {
  background: #faa307;
  transition: transform 0.3s;
}

#range-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider .range-slider__range[data-active] {
  height: 16px;
}
